@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  cursor: default;
  color: #000;
}

#navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#navbar #logo {
  content: url(src/header.svg);
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

#navbar #butonlar {
  position: fixed;
  right: 0;
  top: 0;
}

#navbar button {
  font-weight: 500;
}

#navbar #butonlar button {
  height: 50px;
  width: 120px;
  float: left;
  border: 0;
  background: 0;
  outline: 0;
  align-items: center;
  font-size: 17px;
  transition: .4s;
}

#navbar #butonlar button:hover,
#navbar #mobil-butonlar button:hover {
  background-color: rgba(27, 31, 35, 0.15);
}

#mobil-butonlar, #toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  #butonlar {
    display: none;
  }

  #logo {
    display: block;
    height: 10px;
  }

  #mobil-butonlar {
    position: fixed;
    display: none;
    width: 100%;
    top: 50px;
  }

  #mobil-butonlar button {
    width: 100%;
    height: 50px;
    float: left;
    border: 0;
    background: 0;
    outline: 0;
    align-items: center;
    font-size: 17px;
    transition: .4s;
    border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  }

  #toggle {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    font-size: 25px;
    outline: none;
    border: none;
    background: none;
  }
}
